<!--<div class="container welcome-to-erpnext text-center" style="padding: 30px 0px;">
	<div class="row">
		<div class="col-md-8 col-md-push-2 col-sm-12">
			<h1>{%= __("Welcome to ERPNext") %}</h1>
			<p class="text-muted">
				{%= __("To get the best out of ERPNext, we recommend that you take some time and watch these help videos.") %}
				<br><br>
			</p>

			<div class="embed-responsive embed-responsive-16by9">
				<div class="video-placeholder embed-responsive-item">
					<img class="video-placeholder-image"
						src="/assets/erpnext/images/erpnext-video-placeholder.jpg">
					<img class="centered youtube-icon"
						src="/assets/erpnext/images/YouTube-icon-full_color.png">
				</div>
			</div>

			<br>
			<hr>
			<h3>{%= __("Next Steps") %}</h3>
			<ul class="list-unstyled">
				<li><a class="text-muted" href="#">{%= __("Go to the Desktop and start using ERPNext") %}</a></li>
				<li><a class="text-muted" href="#modules/Learn">{%= __("View a list of all the help videos") %}</a></li>
				<li><a class="text-muted" href="https://erpnext.org/docs/user" target="_blank">{%= __("Read the ERPNext Manual") %}</a></li>
				<li><a class="text-muted" href="https://discuss.erpnext.com" target="_blank">{%= __("Community Forum") %}</a></li>
			</ul>

		</div>
	</div>
</div>!-->