{% var letterhead= filters.letter_head || (frappe.get_doc(":Company", filters.company) && frappe.get_doc(":Company", filters.company).default_letter_head) || frappe.defaults.get_default("letter_head"); %}
{% if(letterhead) { %}
<div style="margin-bottom: 7px;" class="text-center">
	{%= frappe.boot.letter_heads[letterhead].header %}
</div>
{% } %}
<h4 class="text-center">{%= __("Assessment Report") %}</h4>
<hr>
<h5 class="text-center">{%= __("Course Code: ") %} {%= filters.course %}</h5>
<h5 class="text-center">{%= __("Assessment Group: ") %} {%= filters.assessment_group %}</h5>
<h5 class="text-center">{%= __("Assessment Plan: ") %} {%= data_to_be_printed[0]["assessment_plan"] %} </h5>
<hr>

<table class="table table-bordered">
	<thead>
		<tr>
			{% for(var i=1, l=report.columns.length; i<l; i++) { %}
				<th style="text-transform: uppercase; max-width: 100px">{%= report.columns[i].label %}</th>
			{% } %}
		</tr>
	</thead>
	<tbody>
		{% for(var j=0, k=data.length; j<k; j++) { %}
			{%
				var row = data[j];
			%}
			<tr>
				{% for(var i=1, l=report.columns.length; i<l; i++) { %}
					<td class="text-center">
						{% var fieldname = report.columns[i].field; %}
						{% if (!is_null(row[fieldname])) { %}
							{%= row[fieldname] %}
						{% } %}
					</td>
				{% } %}
			</tr>
		{% } %}
	</tbody>
</table>

<p class="text-right text-muted">Printed On {%= dateutil.str_to_user(dateutil.get_datetime_as_string()) %}</p>
