.navbar-form.navbar-right{
    padding-right: 0 !important;
}
.graph-svg-tip ul.data-point-list li {
    text-align: center;
    padding: 0 20px 0;
}
.graph-svg-tip.comparison .title{
    color: #dfe2e5;
}
#c3-results-chart, #c3-scales-chart{
    margin: 15px 0;
}